@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Oxygen:300,400,700);
*                        {box-sizing: border-box;}
body                     { font-family: 'PT Sans', Helvetica, sans-serif; font-size: 16px;}
body, html               { height: 100%;  color: #fff;}
h1, h2, h3, h4, h5, h6   { font-weight: 500;line-height: 1.5em;margin-top: 0;margin-bottom: 10px;}
em                       { color:#fff;}
a                        { color:#f43404; text-decoration: none;}
a:hover                  { color:#fc300c;}
ul                       { list-style: none; padding-left: 30px; -webkit-padding-start: 30px;}
.main-container          { height:100%;width: 100%; float: left; display: inline-block;}

.column                  { float:left;}
.column.left-col         { height:100vh; width: 20%; background-color: #222; text-align: center;}
.column.right-col        { height:100%; width: 80%; background-color: #222; border-left: 1px solid #fff;}
.column.left-col img     { display:inline-block; width:130px; height:130px; border:1px solid #444;border-radius: 100%;}
.column.left-col .img    { margin:0 auto; text-align:center;}

.menu                    { display: inline-block; margin: 0 auto; text-align: left; width: 100%;}
.menu ul li              { border-bottom: 1px solid #333; padding-top: 15px; width:auto;}
.menu ul li a            { display: inline; text-decoration: none; color: #fff; font-size: 1.1em;}
.menu ul li a:hover      { color: #fff; font-size:1.15em; -moz-transition:all .5s; -webkit-transition:all .5s; transition:all .5s;}
.menu li.active          {color:#f43404; }

.hbar                    { display:inline-block; width: 100%; height: 5%; margin: 0 auto;}
.hbar  h2                { font-size:40px; color:#888; text-align:left; border-bottom:2px solid #f43404; margin-bottom: 20px;}

#home                    { display: block; margin-left: 1%;}
/*Name*/
.name-container          { display: block; margin:0 auto; text-align: center;line-height: 1;color:#c18203;}
.name                    { font-size: 9em; font-weight: 700;}
.plate                   { margin:2% 1% 0 0; border: 2px solid #fff; border-radius: 3px;}
.shadow                  { color:#fff; font-family:Arvo; font-weight:bold;
  text-shadow:
    -3px -3px 0 #222,
     3px -3px 0 #222,
    -3px 3px 0 #222,
     3px 3px 0 #222,
     4px 4px 0 #fff,
     5px 5px 0 #fff,
     6px 6px 0 #fff,
     7px 7px 0 #fff;
    line-height: 0.8em;letter-spacing: 0.1em;transform: scaleY(0.7);-webkit-transform: scaleY(0.7);-moz-transform: scaleY(0.7);margin:0;text-align: center;}
.script {font-family: "Seaweed Script";color: #fff;text-align: center;font-size: 40px;position: relative;margin:0;}
.script span {background-color: #222;padding: 0 0.3em;}
.script:before {content:"";display: block;position: absolute;z-index:-1;top: 50%;width: 100%;border-bottom: 3px solid #fff;}
.text1 {font-size: 60px;}
.text2 {font-size: 169px;}
.text3 {font-size: 100px;}
/*End Name*/

.social    {display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; vertical-align: middle; border: 1px solid #333; border-radius: 1px;margin-right: 20px;font-size: 1.5em; color:#888;}
.social:hover{background-color: #f43404;color:#fff;}
.social a  {text-decoration: none; color:#999;}


#about            {display: none;margin-left: 1%;height: 100%; color:#444;overflow: auto;}
#about .left      {width: 40%; display: inline-block;float:left; margin-top:5%;}
#about .right     {width: 60%; display: inline-block;float:left; margin-top:5%;}
#about .left img  {border:2px solid #333; padding: 3%; border-radius: 5px;}
#about .right p   {padding-right: 20px; justify-content: center;color:#999; line-height: 1.25em;}
#about .right h2  {color:#fff;}
#about .social    {display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; vertical-align: middle; border: 1px solid #333; border-radius: 1px;margin-right: 20px;font-size: 1.5em; color:#888;}
#about .social:hover{background-color: #f43404;color:#fff;}
#about .social a  {text-decoration: none; color:#999;}

#skill            {display: none;margin-left: 1%;height: 100%;}
#skill .left      {width: 50%; display: inline-block;float:left; padding-right: 3%; margin-top:5%;}
#skill .right     {width: 50%; display: inline-block;float:left; padding-right: 3%; margin-top:5%;}
#skill h3         {border-left: 3px solid #f43404; padding-left: 10px;}
.skill-bar        {width: 100%; border: 1px solid #eee;margin: 20px 0;}
.skill-1,.skill-2,.skill-3,
.skill-4,.skill-5,.skill-6,
.skill-7,.skill-8,.skill-9{background-color:#555;color:#fff; text-align:left;margin: 0; padding: 0; line-height: 1;}
.skill-1          {width: 98%;}
.skill-2          {width: 95%;}
.skill-3          {width: 90%;}
.skill-4          {width: 85%;}
.skill-5          {width: 80%;}
.skill-6          {width: 75%;}
.skill-7          {width: 70%;}
.skill-8          {width: 65%;}
.skill-9          {width: 55%;}

#testimonial          { display: none;margin-left: 1%; height: 100%;}
#testimonial .col     { width:33.33%; float:left; text-align: left;margin-top:5%;}
#testimonial .col p   { margin: 0 5px; padding: 0 5px 25px; }
#testimonial .col p:first-child{	border: 1px solid #333;}
#testimonial .content { overflow:auto;}
#testimonial img      { display:inline-block; width: 50px; height: 50px; border:1px solid #444;  border-radius: 100%; margin: -15px 20px 0;}
.author               { display: inline-block; margin-top: -10px;line-height: normal;}

#service              { display: none;margin-left: 1%;height: 100%;}
#service .col         { box-sizing: border-box; width:25%; float:left; text-align: center; margin-top:5%; }
#service .col p       { padding: 0 5px;}
#service .content     { overflow:auto;}
.service .fa          { display:block; width:120px; height:120px; font-size: 70px; text-align: center; padding:10%; color: #eee; background-color: #333; border: 3px solid #6a6969; border-radius: 100%; margin: 0 auto; }
.service .fa:hover    { color: #fff; background-color: #f43404; border: 3px solid #555; -moz-transition:all .8s; -webkit-transition:all .8s; transition:all .8s;}

#portfolio            { display: none;margin-left: 1%; height: 100%;}
#portfolio a          { color:#fff;}
#portfolio .crc       { width:33.33%; float:left; left;margin-top:5%; }
#portfolio .fstc      { width:33.33%; float:left; left;margin-top:5%;}
#portfolio .arshintech{ width:33.33%; float:left; left;margin-top:5%;}
#portfolio .prj-name  { width:90%; margin: 0 5px; padding: 0 5px 25px; height: 200px;text-align: center;border: 3px solid #333; background-image: repeating-radial-gradient(#eee, #fff 50%); color:#222; font-weight:700;}
#portfolio .prj-name:hover{ background-image: repeating-radial-gradient(#fff, #eee 50%); color:#222;}
#portfolio .prj-name p:nth-child(2) {line-height:6; vertical-align: baseline; font-size:.7em;}

#contact              { display: none; margin-left: 1%;height: 100%; font-size:12px; line-height:normal;}
#contact .left        { width: 60%; display: inline-block;float:left; padding-right: 3%; margin-top:5%;}
#contact .right       { width: 40%; display: inline-block;float:left; padding-right: 3%; margin-top:5%;}
#contact .left  div   { display: table-row;}
#contact .left  p     { display: table-cell; text-align: right;}
#contact .left  p span{ line-height: 2; vertical-align: middle; font-size: 1.5em; padding:0 15px; }
#contact ul li span   { font-size:1.25em; color: #f43404; font-weight: 400;}
.contact-form {	position: relatiform-controlve; 	border: medium none !important;
}

.contact {
	background: #F9F9F9;
	padding: 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	color:#222;
}
.contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact input[type="url"], .contact textarea, .contact select {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 10px;
	padding: 5px;
}
.contact input[type="text"]:hover, .contact input[type="email"]:hover, .contact input[type="tel"]:hover, .contact input[type="url"]:hover, .contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}
.contact textarea {	resize: none;}
.contact button[type="submit"] {
	cursor: pointer;
	border: none;
	background: #f43404;
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  float: right;
  border-radius: 3px;
}
.contact button[type="submit"]:hover {
	background: #555;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}
.contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.contact input:focus, .contact textarea:focus {
	outline: 0;
	border: 1px solid #ccc;
}

::-webkit-input-placeholder {
 color: #222;
}

:-moz-placeholder {
 color: #222;
}

::-moz-placeholder {
 color: #222;
}

:-ms-input-placeholder {
 color: #222;
}
/*Comments form style end*/


/* Responsive layout*/
@media (max-width: 768px) {
    .column                 { padding: 0px;}
    .column.left-col        { width: 100%; height: 50px; padding: 0; margin:0;}
    .column.right-col       { width: 100%; border: none;}
    .menu                   { width: 80%; display: inline-block;  float:right; font-size: .7em; text-align: right;}
    .menu ul                { -webkit-padding-start:5px; }
    .menu ul li             { display: inline; padding: 0 2px;border: none;}
    .menu ul li:last-child  { padding-right: 5px;}
    .column.left-col img    { height:50px;width: 50px; margin:0; padding: 0; float: left;}
    .hbar  h2               { font-size: 1.5em;}

    /*Name*/
    h2                      { font-size: 1.1em;}
    .plate                  { margin: 5% 1% 0 0;}
    .script                 { font-size: 25px;}
    .text1                  { font-size: 40px;}
    .text2                  { font-size:90px;}
    .text3                  { font-size: 50px;}

    #about                  { overflow: auto;}
    #about .left            { display: block;width: 100%;}
    #about .left img        { border:2px solid #333; padding: 2%; width: 180px; height: 265px;}
    #about .right           { display: block;width: 100%;height: auto;overflow: auto;}
    #about .right p         { padding:10px;}

    #skill                  { overflow:auto;}
    #skill .left            { display: block; width: 100%; padding-left:3%;}
    #skill .right           { display: block; width: 100%; padding-left:3%;height: auto;overflow: auto;}
    #skill h3               { margin-top:20px;}
    .skill-bar              { font-size: .8em;}

    #testimonial            { overflow:auto;}
    #testimonial .col       { display:block; width:100%; float:left; text-align: left; margin-top:15%;}

    #service                {overflow: auto;}
    #service .col           { width:50%; display:inline-block; float:left; margin-top: 30px;}
    #service .col p         { font-size:.6em;}
    .service .fa            { width:100px; height:100px; font-size: 50px; }

    #portfolio            { overflow:auto;}
    #portfolio .prj-name  { width: 95%; margin:6px; padding: 0}
    #portfolio .crc       { display:block; width:100%; margin: 10% auto 0;}
    #portfolio .fstc      { display:block; width:100%; margin: 0 auto;}
    #portfolio .arshintech{ display:block; width:100%; margin: 0 auto;}

    #contact              { overflow:auto;}
    #contact .left        { display: block; width: 100%; padding-left:3%;}
    #contact .right       { display: block; width: 100%; padding-left:3%;height: auto;overflow: auto;}
}
