<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
	<title>Azad | An Oracle Expert, Python Lover, Web Developer & Web Designer</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="A complete profile of Azad, his expertise, skill set and some of his creation | web application">
    <meta name="keywords" content="azad, mak azad, web, design, development, oracle, python, django, flask, php, webdesign, web apps, developer, programmer, dhaka, bangladesh" />
    <meta name="author" content="Mak Azad" />
	  <meta name="copyright" content="http://www.azad.space" />
	  <meta name="google-site-verification" content="Py_dhw0Fk8pxJ-OUzDu5XHG8jOEi73joncA6eWgT92c" />

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/showhide.js') }}"></script>
  </head>
<body>
  <div class="main-container">
    <div class="column left-col">
      <div class="img">
      <img src="{{ url_for ('static', filename='images/azad-face.png') }}" height="120" width="95">
    </div>
      <div id="menubar" class="menu">
        <ul>
            <li><a href="#" onclick="divVisibility('home')">Home</a></i>
            <li><a href="#" onclick="divVisibility('about')">About</a></i>
            <li><a href="#" onclick="divVisibility('skill')">Skill</a></i>
            <li><a href="#" onclick="divVisibility('testimonial')">Testimonial</a></i>
            <li><a href="#" onclick="divVisibility('service')">Services</a></i>
            <li><a href="#" onclick="divVisibility('portfolio')">Portfolio</a></i>
            <li><a href="#" onclick="divVisibility('contact')">Contact</a></i>
        </ul>
      </div>
      <!--End of Left Column-->
    </div>

    <div class="column right-col">
      <div id ="home">
        <div class="hbar"><h2>Home</h2> </div>
          <div class="name-container">
              <div class="plate">
                <p class="script"><span>Curious Programmer</span></p>
                <p class="shadow text1">MAK</p>
                <p class="shadow text2">AZAD</p>
                <p class="shadow text3">LEADER</p>
                <p class="script"><span>Self Paced Learner</span></p>
              </div>
          </div>
      </div>
      <div id ="about">
        <div class="hbar"><h2>About</h2></div>
            <div class="left">
              <img src="{{ url_for ('static', filename='images/azad.png') }}">
            </div>
            <div class="right">
                  Hello! My name is<h2>Mohammad Abul Kalam Azad</h2> living and working in Dhaka
              <p>
                I'd label myself as an all round programmer, with skills in both front-end and back-end development. After working thoroughly 10 years
                using <em>Oracle</em>, I fall in love with <em>Python</em> in 2017. During those 10 years of my
                full time career, I've mastered <em>PHP</em>, <em>HTML</em>, <em>CSS</em>, <em>Bootstrap</em>  <em>MySQL</em> etc. and developed some polished functional websites, by investing my Spare Time.
                When I started Python development, I got <em>DJango</em> and <em>Flask</em> very helpful and the new journey started! I enjoy working in a team as well as individually. I'm available to help you in your project.
              </p>
              <ul>
                <li class="social"><a href="https://twitter.com/azadocp" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a><I enjoy working in a team as well as individually. /li>
                <li class="social"><a href="https://www.facebook.com/azad.dworld" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social"><a href="https://plus.google.com/u/0/+MohammadAbulKalamAzadlearnme" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="social"><a href="https://www.linkedin.com/in/mohammad-abul-kalam-azad-04644127/" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
      </div>
      <!--End of about-->

      <div id ="skill">
        <div class="hbar"><h2>Skills</h2></div>
        <div class="left">
        <h3>Database &amp; Language Skills</h3>
          <div class="skill-bar">
                <div class="skill-1">Oracle</div>
          </div>
          <div class="skill-bar">
                <div class="skill-2">MYSQL</div>
          </div>
          <div class="skill-bar">
                <div class="skill-3">PostgreSQL</div>
          </div>
          <div class="skill-bar">
                <div class="skill-6">Python</div>
          </div>
          <div class="skill-bar">
                <div class="skill-1">PL/SQL</div>
          </div>
          <div class="skill-bar">
                <div class="skill-5">PHP</div>
          </div>
          <div class="skill-bar">
                <div class="skill-9">JQuery</div>
          </div>
          <div class="skill-bar">
                <div class="skill-9">Java Script</div>
          </div>
          <!--End of left-->
        </div>

        <div class="right">
        <h3>Framework  &amp; Others Skills</h3>
          <div class="skill-bar">
                <div class="skill-6">DJango</div>
          </div>
          <div class="skill-bar">
                <div class="skill-5">Flask</div>
          </div>
          <div class="skill-bar">
                <div class="skill-3">Bootstrap</div>
          </div>
          <div class="skill-bar">
                <div class="skill-1">Oracle Forms &amp; Reports</div>
          </div>
          <div class="skill-bar">
                <div class="skill-1">HTML</div>
          </div>
          <div class="skill-bar">
                <div class="skill-3">CSS</div>
          </div>

          <div class="skill-bar">
                <div class="skill-6">Linux</div>
          </div>

          <div class="skill-bar">
                <div class="skill-7">English</div>
          </div>

          <!--End of right-->
       </div>

      </div>
      <!--End of skill-->

      <div id="testimonial">
          <div class="hbar"><h2>Testimonial</h2></div>
              <div class="content">
                  <div class="col">
                      <p>"Mr. Azad is a hardworking and talented programmer who has shown repeatedly that he can take challenges and can perform above expectations."</p>
                      <img src="{{ url_for('static',filename='images/testimonial_photo_1.jpg')}}">
                        <div class="author">
                          <a href="https://www.linkedin.com/in/mohammad-abul-kalam-azad-04644127/" target="_blank">Asif Murad Choudhury</a>
                          <br><span>ServicEngine</span>
                        </div>
                  </div>

                  <div class="col">
                      <p>"I worked with him very happily for couple of years in ATI limited and I found Azad very proactive and enthusiastic for any challenges in IT...</p>
                      <img src="{{ url_for('static',filename='images/testimonial_photo_2.jpg')}}">
                      <div class="author">
                        <a href="https://www.linkedin.com/in/mohammad-abul-kalam-azad-04644127/" target="_blank">Kazi Mohammad Mokarem</a>
                      <br><span>IQVIA</span>
                    </div>
                  </div>

                  <div class="col">
                      <p>"I am blessed with having found the best Web Hosting company ever. Great service, great hosting, and the staff are amazing. Everyone I refer to them...</p>
                      <img src="{{ url_for('static',filename='images/sample-img.jpg')}}" alt="">
                      <div class="author">
                        <a href="http://www.arshin-tech.com/#testimonial" target="_blank">Md. Kamal Hossen</a>
                        <br><span>Holy Crafts & Fashion Ltd.</spanp>
                      </div>
                  </div>
              </div>
        </div>
      <!--End Testimonial Section-->
      <!--Begin Service Section-->
          <div id="service">
          	<div class="hbar"><h2>Services</h2></div>
                  <div class="col service">
      							<i class="fa fa-cloud"></i>
      							<h2>Web Development</h2>
      							<p>Website design and development. Web Apps, API Development</p>
                  </div>

                  <div class="col">
      							<div class="service"><i class="fa fa-database"></i></div>
      							<h2>Database Solution</h2>
      				 		 <p>Web Based Enterprise Level Database Software Development</p>
                  </div>
                  <div class="col">
      							<div class="service"><i class="fa fa-handshake-o"></i></div>
      							<h2>Consultancy</h2>
       						 <p>Enterprise Software Implementation Consultancy, Specially ERP Solution</p>
                  </div>
      						<div class="col">
      							<div class="service"><i class="fa fa-globe"></i></div>
      							<h2>Web Hosting</h2>
      							<p>Affordable & Convenient hosting service & Domain Registration</p>
      						</div>
          </div>
      <!--End Service Section-->
	  
          <div id="portfolio">
            <div class="hbar"><h2>Portfolio</h2></div>
            <div class="prj-container">
              <a href="{{ url_for('crc') }}">
                  <div class="prj-name">
                    <p>Currency Rate Converter</p>
                    <p>Python(Flask)- Web Apps</p>
                  </div>
                </a>
            </div>
            <div class="prj-container">
              <a href="http://www.fstcfashion.com" target="_blank">
                <div class="prj-name">
                  <p>FSTC Fashion</p>
                  <p>PHP- Website</p>
                </div>
              </a>
            </div>
            <div class="prj-container">

              <a href="http://www.arshin-tech.com" target="_blank">
                <div class="prj-name">
                  <p>ArshinTech</p>
                  <p>PHP Website/WebApps</p>
                </div>
              </a>
            </div>
          </div>
          <!--End of portfolio Section-->

          <div id ="contact">
            <div class="hbar"><h2>Contact</h2></div>
            <div class="left">
                  <div>
                    <p><span>If:</span></p>
                    <p>
                       <ul>
                          <li><i class="fa fa-thumbs-o-up" style="font-size:14px"></i> you have a project or an idea that I can help you to implement</li>
                          <li><i class="fa fa-thumbs-o-up" style="font-size:14px"></i> you want you or your business to be a vivid individuality</li>
                          <li><i class="fa fa-thumbs-o-up" style="font-size:14px"></i> there is a wish to get me involved in some creative work or co-work</li>
                          <li><i class="fa fa-thumbs-o-up" style="font-size:14px"></i> you just like to say Hi!</li>
                        </ul>
                     </p>
                  </div>

                  <div>
                    <p><span>Then:</span></p>
                    <p>
                       <ul>
                          <li>
                            <i class="fa fa-smile-o" style="font-size:14px"></i> the best and the most comfortable way to talk to me is to send me an email to  <span><i class="fa fa-envelope" aria-hidden="true"></i> azad.ocp@gmail.com</span>
                            Please point out what goals do you set, what the deadline and what the budget do you have. I'll get back to
                            you in 24 hours with my availability and we'll discuss the details.
                          </li>
                        </ul>
                     </p>
                  </div>

                  <div>
                    <p><span>And:</span></p>
                    <p>
                       <ul>
                          <li>
                            <i class="fa fa-smile-o" style="font-size:14px"></i> by the way I use Skype
                            <span><i class="fa fa-skype" aria-hidden="true"></i> azadbd2.</span> I could be reached over phone
                             <br><span> <i class="fa fa-mobile" aria-hidden="true"></i> +880 1903 000 151</span> and have
                            profile at social network like:
                          </li>
                          <br>
                          <li>
                            <ul>
                              <li class="social"><a href="https://twitter.com/azadocp" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                              <li class="social"><a href="https://www.facebook.com/azad.dworld" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li class="social"><a href="https://plus.google.com/u/0/+MohammadAbulKalamAzadlearnme" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                              <li class="social"><a href="https://www.linkedin.com/in/mohammad-abul-kalam-azad-04644127/" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                     </p>
                  </div>
                  <div class="disabled">
                    <p><span>+Plus:</span></p>
                    <p>
                       <ul>
                          <li>
                            <i class="fa fa-smile-o" style="font-size:14px"></i> you can easily use contact form
                          </li>
                        </ul>
                     </p>
                  </div>
            </div><!--End of contact left Section-->

            <div class="right">
                <div class="contact-form disabled">
                    <h3><i class="fa fa-comment-o" aria-hidden="true"></i> CONTACT FORM</h3>
                    <div class="contact">
                        <form role="form" method="POST">
                            <div class="form-group"><label for="name">Your Name</label> <input class="form-control" id="name" name="name" type="text" maxlength="128" required/></div>
                            <div class="form-group"><label for="email">Your Email</label> <input class="form-control" id="email" type="email" name="email" required /></div>
                            <div class="form-group"><label for="message">Your Message</label><textarea class="form-control" col="5" id="message" name ="message" row="3"></textarea></div>
                            <button class="btn message" type="submit" onclick="divVisibility('contact')">Send Message</button>
                        </form>
                      </div>
                </div>
			</div><!--End of contact right Section-->
		</div><!--End of contact Section-->
	  </div><!--End of Right Column-->
</div><!--end of main container-->
</div>

</body>
</html>
